{% extends '_base.html' %}

{% block title %}
    Todos List Page
{% endblock %}

{% block content %}
    <!-- title row -->
    <div class="row">
        <div class="offset-md-2 col-lg-9">
            <div class="page-header">
                <h1>
                    Todo List
                </h1>
            </div>
        </div>
    </div>
    <!-- Add a todo row -->
    <div class="row">
        <div class="offset-md-2 col-lg-9">
            <form method="POST" action="{% url 'todo_create' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="title" placeholder="Title" required>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="description" placeholder="Description" required>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" name="submit" class="btn btn-outline-primary mt-3">
                            Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr/>
    <!-- todo list -->
    <div class="row">
        <div class="offset-md-2 col-lg-6">
            <div class="list-group">
                {% for todo in todos %}
                    <div class="list-group-item {% if todo.is_completed %} todo-complete {% endif %}">
                        <form class="update-form" method="POST" action="{% url 'todo_update_ckeckbox' todo.id %}">
                            {% csrf_token %}
                            <input type="checkbox" name="is_completed"
                                   onchange="this.form.submit()"
                                    {% if todo.is_completed %}
                                   checked
                                    {% endif %}
                                   class="todo-status-checkbox"
                                   title="{% if not todo.is_completed %} mark as done {% else %} mark undone {% endif %}">
                        </form>
                        <a class="text-decoration-none" href="{% url 'todo_detail' todo.id %}">{{ todo.title }}</a>
                        <a href="{% url 'todo_delete_icon' todo.id %}" title="Delete">
                            <i class="fa-trash-alt fa-solid fa-trash-can"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}